<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="UserMapper">
 
 	<select id="findByID" resultType="net.cot_pr1.domain.User">
 		select * from users where userId= #{userId}
 	</select>
 	
 	<select id="findByprofile" resultType="string">
 		select profileimg from users where userId= #{userId}
 	</select>
 	
 	
 	<insert id="create">
 		insert into users ( userId, password, name, email) values (#{userId}, #{password}, #{name}, #{email})
 	</insert>
 	
 	<update id="update">
 		update users set
 		password = #{password}, name = #{name}, email = #{email} where userId = #{userId}
 	</update>
 	
 	<update id="imgupdate">
 		update users set
 		profileimg = #{profileimg} where userId = #{userId}
 	</update>
 	
 	<select id="checkId" resultType="integer">
		
		  SELECT COUNT(*) AS cnt
		  FROM users A 
		  WHERE 1 = 1
		  AND A.userId = #{userId}  	
 	</select>
 </mapper>