<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <mappers>
    <mapper resource="net/cot_pr1/mapper/UserMapper.xml"/>
    <mapper resource="net/cot_pr1/mapper/WebBoardMapper.xml"/>
    <mapper resource="net/cot_pr1/mapper/WebReplyMapper.xml"/>
   
   
    <!--  
    <mapper resource="net/cot_pr1/dao/GalleryMapper.xml"/>
    <mapper resource="net/cot_pr1/dao/FBoardMapper.xml"/>
    <mapper resource="net/cot_pr1/dao/FReplyMapper.xml"/>
    -->
  </mappers>
	
</configuration>
